
<%- include header.ejs %>

<div class="main-content">
  <div class="content-width calendar">
  	<div class="agenda">
		<h1>AGENDA</h1>
		
		<h2 class="time-laranja"># Agenda de Junho</h2>
		
		<div class="row">
			<span class="col-left data-evento">Sábado 06.06</span> - 
			<span class="col-right titulo-evento">Festival</span>
			
			<br clear="all" /><br clear="all" />
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;12:00 - C.S.E A x Só Mulekes</span>
			</div>
			
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;16:00 - C.S.E B x Império F.S</span>
			</div>
			
			<div class="row">
				<span class="col-left local-evento">Onde:</span> 
				<span class="col-right local-evento-desc">Não disponível</span>
			</div>
			<!-- UM ITEM FIM //-->
			
			<br clear="all" />
			<hr />
			<br clear="all" />
			
			<span class="col-left data-evento">Domingo 07.06</span> - 
			<span class="col-right titulo-evento">Amistoso em casa</span>
			
			<br clear="all" /><br clear="all" />
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;09:00 - C.S.E B x Real Madrid</span>
			</div>
			
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;10:00 - C.S.E A x Real Madrid</span>
			</div>
			
			<div class="row">
				<span class="col-left local-evento">Onde:</span> 
				<span class="col-right local-evento-desc">Quadra do Flamenguinho</span>
			</div>
			<!-- UM ITEM FIM //-->
			
			<br clear="all" />
			<hr />
			<br clear="all" />
			
			<span class="col-left data-evento">Domingo 14.06</span> - 
			<span class="col-right titulo-evento">Amistoso em casa</span>
			
			<br clear="all" /><br clear="all" />
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;09:00 - C.S.E B x The Brothers</span>
			</div>
			
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;10:00 - C.S.E A x The Brothers</span>
			</div>
			
			<div class="row">
				<span class="col-left local-evento">Onde:</span> 
				<span class="col-right local-evento-desc">Quadra do Flamenguinho</span>
			</div>
			<!-- UM ITEM FIM //-->
			
			<br clear="all" />
			<hr />
			<br clear="all" />
			
			<span class="col-left data-evento">Domingo 21.06</span> - 
			<span class="col-right titulo-evento">Treino</span>
			
			<br clear="all" /><br clear="all" />
			
			<div class="row">
				<span class="col-left local-evento">Onde:</span> 
				<span class="col-right local-evento-desc">Quadra do Flamenguinho</span>
			</div>
			<!-- UM ITEM FIM //-->
			
			<!-- UM ITEM FIM //-->
			
			<br clear="all" />
			<hr />
			<br clear="all" />
			
			<span class="col-left data-evento">Domingo 28.06</span> - 
			<span class="col-right titulo-evento">Amistoso em casa</span>
			
			<br clear="all" /><br clear="all" />
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;09:00 - C.S.E B x G 3</span>
			</div>
			
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;10:00 - C.S.E A x G 3</span>
			</div>
			
			<div class="row">
				<span class="col-left local-evento">Onde:</span> 
				<span class="col-right local-evento-desc">Quadra do Flamenguinho</span>
			</div>
			<!-- UM ITEM FIM //-->
		</div>
		
		<br clear="all" />
		<hr />
		<br clear="all" />
		
		<h2 class="time-laranja"># Agenda de Maio</h2>
		
		<div class="row">
			<span class="col-left data-evento">Sábado 16.05</span> - 
			<span class="col-right titulo-evento">Amistoso fora em Perus</span>
			
			<br clear="all" /><br clear="all" />
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;08:00 - Real Maloka x C.S.E B</span>
			</div>
			
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;09:00 - Real Maloka x C.S.E A</span>
			</div>
			
			<div class="row">
				<span class="col-left local-evento">Onde:</span> 
				<span class="col-right local-evento-desc">Rua Narciso Digrande - Vila Rosina - Perus (Antes do Cemitério)</span>
			</div>
			<!-- UM ITEM FIM //-->
			
			<br clear="all" />
			<hr />
			<br clear="all" />
			
			<span class="col-left data-evento">Domingo 17.05</span> - 
			<span class="col-right titulo-evento">Amistoso fora em Pirituba</span>
			
			<br clear="all" /><br clear="all" />
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;11:00 - G 3 x C.S.E B</span>
			</div>
			
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;12:00 - G 3 x C.S.E A</span>
			</div>
			
			<div class="row">
				<span class="col-left local-evento">Onde:</span> 
				<span class="col-right local-evento-desc">Rua Piraporinha, 117 - Pirituba (Prox. ao Campo do Regina)</span>
			</div>
			<!-- UM ITEM FIM //-->
			
			<br clear="all" />
			<hr />
			<br clear="all" />
			
			<span class="col-left data-evento">Domingo 24.05</span> - 
			<span class="col-right titulo-evento">Amistoso fora Marcelina</span>
			
			<br clear="all" /><br clear="all" />
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;10:00 - Só Muleke x C.S.E B</span>
			</div>
			
			<div class="row">
				<span class="col-left"></span> 
				<span class="col-right">&nbsp;&nbsp;11:00 - Só Muleke x C.S.E A</span>
			</div>
			
			<div class="row">
				<span class="col-left local-evento">Onde:</span> 
				<span class="col-right local-evento-desc">Sem informações</span>
			</div>
			<!-- UM ITEM FIM //-->
			
			<br clear="all" />
			<hr />
			<br clear="all" />
			
			<span class="col-left data-evento">Domingo 31.05</span> - 
			<span class="col-right titulo-evento">Treino tático e físico</span>
			
			<br clear="all" /><br clear="all" />
			
			<div class="row">
				<span class="col-left local-evento">Onde:</span> 
				<span class="col-right local-evento-desc">Quadra do Flamenguinho</span>
			</div>
			<!-- UM ITEM FIM //-->
		</div>
	</div>
  </div>
</div>

<%- include footer.ejs %>
