<div class="footer">
  <div class="content-width">
  	C.S.E ( Cansado de ser enganado ) - Todos os direitos reservados ©
  </div>
</div>

<!-- close .wrapper -->
</div>


<script src="/js/jquery-2.0.3.min.js"></script>
<script src="/js/cse.js"></script>
</body>
</html>