<!DOCTYPE html>
<html>
  <head>
    <title>C.S.E Futsal</title>
    <link href="/css/cse.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  </head>
<body>

<div class="wrapper">

  <div class="header">
    <div class="content-width">

    </div>
  </div>


  <div class="menu">
    <div class="content-width">
      <ul>
        <li class="menu-item">
          <a href="/historia">História</a></li>
        <li class="menu-item active">
          <a href="/time">Time</a>
        </li>
        <li class="menu-item">
          <a href="/elenco">Elenco</a>
        </li>
        <li class="menu-item">
          <a href="/agenda">Agenda</a>
        </li>
        <li class="menu-item">
          <a href="/estatisticas">Estatísticas</a>
        </li>
        <li class="menu-item last">
          <a href="/resultados">Resultados</a>
        </li>
      </ul>
    </div>
  </div>