<%- include header.ejs %>

<div class="main-content">
  <div class="content-width">
  	<h1>História</h1>
  	<p>
  		Após um plantão no hospital, dois amigos Italo Santos (Presidente) e Marco Aurélio estavam mortos de tanto trabalhar e o diálogo aconteceu naturalmente entre os dois quando Marco fala a seguinte frase: "Estou cansado de ser enganado". E aí decidem fazer uma camisa com essa frase.
  	</p>

  	<p>
  		Ítalo que tomava conta de um horário no clube Flamenguinho resolveu acabar com o rachão e montar um time, a notícia não agradou a todos porque não daria para todos jogarem no time e acabaria ali a pelada de domingo, mas o sonho de ter um time foi se tornando realidade. E assim então foram confecionados os uniformes, comprado as bolas, realizado treinos e em março de 2015 aconteceu nosso primeiro amistoso.
  	</p>

  	<p>
  		Surgindo assim o time com dois quadro (Azul e Laranja) o C.S.E (Cansado de ser enganado).
  	</p>
  </div>
</div>

<br clear="all" />

<%- include footer.ejs %>
