
<%- include header.ejs %>

<div class="main-content">
  <div class="content-width">
  	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam incidunt possimus fuga? Animi eum dolore officia ratione, ea minus nemo doloremque enim porro perferendis tempora, ipsam fuga. At debitis atque sequi ad nemo, consequatur deserunt, harum omnis, deleniti assumenda autem!
  </div>
</div>

<%- include footer.ejs %>
