<!DOCTYPE html>
<html>
	<head>
		<title>C.S.E Futsal</title>
		<link href="/css/cse.css" rel="stylesheet" type="text/css" />
	</head>
<body>
	<%- include header.ejs %>
	
	<div class="menu">
		<ul>
			<li>
				<a href="/historia">História</a></li>
			<li class="active">
				<a href="/time">Time</a>
			</li>
			<li>
				<a href="/elenco">Elenco</a>
			</li>
			<li>
				<a href="/agenda">Agenda</a>
			</li>
			<li>
				<a href="/estatisticas">Estatísticas</a>
			</li>
			<li class="last">
				<a href="/resultados">Resultados</a>
			</li>
		</ul>
	</div>
	
	<div class="body">
	  <div class="content-width">
	  	lorem40 sfsdf adf asdfkjah fkajshf skajshf
	  </div>
	</div>
	
	<%- include footer.ejs %>
</body>
</html>