
<%- include header.ejs %>

<div class="main-content">
  <div class="content-width">
  	<div class="destaques">
		<div class="ultimas-noticias">
  			<h2>Últimas Notícias</h2>
  			<div class="row primeira-linha">
  				<i class="data-jogo">15.05.2015</i><br /><span>Digo está liberado clinicamente e domingão estará de volta!</span>
  			</div>
  			<div class="row">
  				<i class="data-jogo">16.05.2015</i><br /><span>O C.S.E irá promover uma doação de sangue. Em breve mais informações.</span>
  			</div>
  			<div class="">
  			</div>
  			<div class="">
  			</div>
  		</div>  	
  	
  		<div class="proximos-jogos">
  			<h2>Próximos Jogos</h2>
  			<div class="item-jogo primeira-linha">
  				<i class="data-jogo">16.05 8h</i> - <span class="nome-time">Real Maloka</span> x <span class="nome-time">CSE (B)</span>
  			</div>
  			<div class="info-jogo">
				(<strong>Amistoso:</strong> <i>Vila Rosina - Perus</i>)
			</div>
  			<div class="item-jogo">
  				<i class="data-jogo">16.05 9h</i> - <span class="nome-time">Real Maloka</span> x <span class="nome-time">CSE (A)</span>
  			</div>
  			<div class="info-jogo">
				(<strong>Amistoso:</strong> <i>Vila Rosina - Perus</i>)
			</div>
			
			<div class="item-jogo">
  				<i class="data-jogo">17.05 11h</i> - <span class="nome-time">G 3</span> x <span class="nome-time">CSE (B)</span>
  			</div>
  			<div class="info-jogo">
				(<strong>Amistoso:</strong> <i>Rua Piraporinha, 117 - Pirituba</i>)
			</div>
  			<div class="item-jogo">
  				<i class="data-jogo">17.05 12h</i> - <span class="nome-time">G 3</span> x <span class="nome-time">CSE (A)</span>
  			</div>
  			<div class="info-jogo">
				(<strong>Amistoso:</strong> <i>Rua Piraporinha, 117 - Pirituba</i>)
			</div>
  		</div>
  		
  		<div class="ultimos-jogos">
  			<h2>Últimos Jogos</h2>
  			<div class="item-jogo primeira-linha">
  				<i class="data-jogo">25.04.15</i> - <span class="nome-time">C.S.E (A)</span><span class="placar-jogo">2</span> x <span class="placar-jogo">7</span><span class="nome-time">Tigres do Morro</span> 
  			</div>
  			<div class="item-jogo">
  				<i class="data-jogo">25.04.15</i> - <span class="nome-time">C.S.E (B)</span><span class="placar-jogo">5</span> x <span class="placar-jogo">7</span><span class="nome-time">Tigres do Morro</span> 
  			</div>
  			<div class="item-jogo">
  				<i class="data-jogo">26.04.15</i> - <span class="nome-time">C.S.E (A)</span><span class="placar-jogo">2</span> x <span class="placar-jogo">18</span><span class="nome-time">Canela Seca</span> 
  			</div>
  			<div class="item-jogo">
  				<i class="data-jogo">26.04.15</i> - <span class="nome-time">C.S.E (B)</span><span class="placar-jogo">7</span> x <span class="placar-jogo">12</span><span class="nome-time">Canela Seca</span> 
  			</div>
  			<div class="item-jogo">
  				<i class="data-jogo">10.05.15</i> - <span class="nome-time">C.S.E (A)</span><span class="placar-jogo">2</span> x <span class="placar-jogo">4</span><span class="nome-time">Canela Seca</span> 
  			</div>
  			<div class="item-jogo">
  				<i class="data-jogo">10.05.15</i> - <span class="nome-time">C.S.E (B)</span><span class="placar-jogo">4</span> x <span class="placar-jogo">4</span><span class="nome-time">Canela Seca</span> 
  			</div>
  		</div>
  		
  		<div class="facebook">
  			<h2>Nosso Facebook</h2>
	  		<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1630610233841348";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
		
			<div class="fb-page" data-width="320" data-href="https://www.facebook.com/csefracodarocha" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
				<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
			</div>
  		</div>
  	</div>
  </div>
</div>

<%- include footer.ejs %>
