<!DOCTYPE html>
<html>
	<head>
		<title>C.S.E Futsal</title>
		<link href="/css/cse.css" rel="stylesheet" type="text/css" />
	</head>
<body>
	<%- include header.ejs %>
	
	<div class="body">
	  <div class="content-width">
	  	lorem40 sfsdf adf asdfkjah fkajshf skajshf
	  </div>
	</div>
	
	<%- include footer.ejs %>
</body>
</html>