
<%- include header.ejs %>

<div class="main-content">
  <div class="content-width">
  	<div class="destaques">
  	
  		<div class="ultimos-jogos">
  			<h2>Últimos Jogos</h2>
  		</div>
  		
  		<div class="proximos-jogos">
  			<h2>Próximos Jogos</h2>
			<div class="item-jogo primeira-linha">
  				<i class="data-jogo">06.06 12h</i> - <span class="nome-time">C.S.E (A)</span> x <span class="nome-time">Só Mulekes</span>
  			</div>
  			<div class="info-jogo">
				(<strong>Amistoso:</strong> <i>N / D</i>)
			</div>
  			<div class="item-jogo">
  				<i class="data-jogo">06.06 16h</i> - <span class="nome-time">C.S.E (B)</span> x <span class="nome-time">Império F.S</span>
  			</div>
  			<div class="info-jogo">
				(<strong>Amistoso:</strong> <i>N / D</i>)
			</div>
			<div class="item-jogo">
  				<i class="data-jogo">07.07 09h</i> - <span class="nome-time">C.S.E (B)</span> x <span class="nome-time">Real Madrid</span>
  			</div>
  			<div class="info-jogo">
				(<strong>Amistoso:</strong> <i>Flamenguinho</i>)
			</div>
  			<div class="item-jogo">
  				<i class="data-jogo">07.07 10h</i> - <span class="nome-time">C.S.E (A)</span> x <span class="nome-time">Real Madrid</span>
  			</div>
  			<div class="info-jogo">
				(<strong>Amistoso:</strong> <i>Flamenguinho</i>)
			</div>
  		</div>
  		
  		<div class="ultimas-noticias">
  			<h2>Últimas Notícias</h2>
  			<div class="row primeira-linha">
  				<i class="data-jogo">19.05.2015</i><br /><span><strong>Artilharia:</strong> Paulo e Neném continuam em primeiro, mas Bruninho e Italo estão colados nos líderes.</span>
  			</div>
  			<div class="row">
  				<i class="data-jogo">19.05.2015</i><br /><span>Novas fotos disponíveis na galeria.</span>
  			</div>
  			<div class="row">
  				<i class="data-jogo">16.05.2015</i><br /><span>O C.S.E irá promover uma doação de sangue. Em breve mais informações.</span>
  			</div>
  			<div class="row">
  				<i class="data-jogo">15.05.2015</i><br /><span>Digo está liberado clinicamente e domingão estará de volta!</span>
  			</div>
  		</div> 
  		
  		<div class="facebook">
  			<h2>Nosso Facebook</h2>
	  		<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=1630610233841348";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
		
			<div class="fb-page" data-width="320" data-href="https://www.facebook.com/csefracodarocha" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
				<div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
			</div>
  		</div>
  	</div>
  </div>
</div>

<%- include footer.ejs %>
