<%- include header.ejs %>

<div class="main-content">
  <div class="content-width">
  	<h1>ELENCO</h1>
  	
  	<h3>Time A Laranja (1º Quadro)</h3>
  	
  	<br clear="all" />
  	
  	<div class="row">
	  <div class="col-xs-2"><strong>Técnico: </strong></div>
	  <div class="col-xs-2 col-right">Leandro</div>
	</div>
	
	<div class="row">
	  <div class="col-xs-2"><strong>Auxiliares Técnico: </strong></div>
	  <div class="col-xs-2 col-right">Paulo e Marcelo</div>
	</div>
	
  	<div class="row">
	  <div class="col-xs-2"><strong>Goleiros: </strong></div>
	  <div class="col-xs-10 col-right">Alcimar (01) e Ney (12)</div>
	</div>
	
	<div class="row">
	  <div class="col-xs-2"><strong>Fixos: </strong></div>
	  <div class="col-xs-10 col-right">Alemão (03) e Cláudio (05)</div>
	</div>
	
	<div class="row">
	  <div class="col-xs-2"><strong>Alas: </strong></div>
	  <div class="col-xs-10 col-right">Tuí (07), Índio (11), Samuray (09) e Neném (08)</div>
	</div>
	
	<div class="row">
	  <div class="col-xs-2"><strong>Pivôs: </strong></div>
	  <div class="col-xs-10 col-right">Alanzinho (06) e Italo (10)</div>
	</div>
	
	<br clear="all" />
	
	<div class="fotos-elenco">
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
	</div>
	
	<br clear="all" />
	
	<h3>Time B Azul (2º Quadro)</h3>
  	
  	<br clear="all" />
  	
  	<div class="row">
	  <div class="col-xs-2"><strong>Técnico: </strong></div>
	  <div class="col-xs-2 col-right">Ital</div>
	</div>
	
	<div class="row">
	  <div class="col-xs-2"><strong>Auxiliares Técnico: </strong></div>
	  <div class="col-xs-2 col-right">Neném e Samuray</div>
	</div>
	
  	<div class="row">
	  <div class="col-xs-2"><strong>Goleiros: </strong></div>
	  <div class="col-xs-10 col-right">Marcelo (01) e Luciano (12)</div>
	</div>
	
	<div class="row">
	  <div class="col-xs-2"><strong>Fixos: </strong></div>
	  <div class="col-xs-10 col-right">Paulo (10) e Bruninho (04) e Caique (03)</div>
	</div>
	
	<div class="row">
	  <div class="col-xs-2"><strong>Alas: </strong></div>
	  <div class="col-xs-10 col-right">Digo (02), Josuel (05), Danilo (08) e Rafael (06)</div>
	</div>
	
	<div class="row">
	  <div class="col-xs-2"><strong>Pivôs: </strong></div>
	  <div class="col-xs-10 col-right">Leandro (11) e Felipe (09)</div>
	</div>
	
	<br clear="all" />
	
	<div class="fotos-elenco">
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
		
		<div class="foto-item">
			<div class="legenda-foto">
				Tuí
			</div>
			<div class="foto-atleta">
				<img src="/images/atletas/IMG-20150512-WA0054.jpg" width="150" height="190" />
			</div>
		</div>
	</div>
</div>

<%- include footer.ejs %>