<%- include header.ejs %>

<div class="main-content staff">
  <div class="content-width">
  	<h1>ELENCO</h1>
  	
  	<div class="content">
	  	<h3 class="time-laranja">Time A Laranja (1º Quadro)</h3>
	  	
	  	<div class="row">
		  <span class="col-left"><strong>Técnico: </strong></span>
		  <span class="col-right">Leandro</span>
		</div>
		
		<div class="row">
		  <span class="col-left"><strong>Auxiliares Técnico: </strong></span>
		  <span class="col-right">Paulo e Marcelo</span>
		</div>
		
	  	<div class="row">
		  <span class="col-left"><strong>Goleiros: </strong></span>
		  <span class="col-right">Alcimar (01) e Ney (12)</span>
		</div>
		
		<div class="row">
		  <span class="col-left"><strong>Fixos: </strong></span>
		  <span class="col-right">Alemão (03) e Cláudio (05)</span>
		</div>
		
		<div class="row">
		  <span class="col-left"><strong>Alas: </strong></span>
		  <span class="col-right">Tuí (07), Índio (11), Samuray (09) e Neném (08)</span>
		</div>
		
		<div class="row">
		  <span class="col-left"><strong>Pivôs: </strong></span>
		  <span class="col-right">Alanzinho (06) e Italo (10)</span>
		</div>
		
		<br clear="all" />
		
		<div class="fotos-elenco">
			<div class="foto-item">
				<div class="legenda-foto">
					Alanzinho
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/alanzinho.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Alcimar
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/alcimar.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Alemão
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/alemao.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Cláudio
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/claudio.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Índio
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/indio.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Italo
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/italo.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Neném
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/nenem.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Ney
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/ney.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Samuray
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/samuray.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Tuí
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/tui.jpg" width="150" height="190" />
				</div>
			</div>
		</div>
		
		<br clear="all" />
		<br clear="all" />
		<hr />
		
		
		<h3 class="time-azul">Time B Azul (2º Quadro)</h3>
	  	
	  	<div class="row">
		  <span class="col-xs-2"><strong>Técnico: </strong></span>
		  <span class="col-right">Italo</span>
		</div>
		
		<div class="row">
		  <span class="col-xs-2"><strong>Auxiliares Técnico: </strong></span>
		  <span class="col-right">Neném e Samuray</span>
		</div>
		
	  	<div class="row">
		  <span class="col-xs-2"><strong>Goleiros: </strong></span>
		  <span class="col-right">Marcelo (01) e Luciano (12)</span>
		</div>
		
		<div class="row">
		  <span class="col-xs-2"><strong>Fixos: </strong></span>
		  <span class="col-right">Paulo (10) e Bruninho (04) e Caique (03)</span>
		</div>
		
		<div class="row">
		  <span class="col-xs-2"><strong>Alas: </strong></span>
		  <span class="col-right">Digo (02), Josuel (05), Danilo (08) e Rafael (06)</span>
		</div>
		
		<div class="row">
		  <span class="col-xs-2"><strong>Pivôs: </strong></span>
		  <span class="col-right">Leandro (11) e Felipe (09)</span>
		</div>
		
		<br clear="all" />
		
		<div class="fotos-elenco">
			<div class="foto-item">
				<div class="legenda-foto">
					Bruninho
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/bruninho.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Caique
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/caique.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Danilo
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/danilo.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Digo
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/digo.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Felipe
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/felipe.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Josuel
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/josuel.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Leandro
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/leandro.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Luciano
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/luciano.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Marcelo
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/marcelo.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Paulo
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/paulo.jpg" width="150" height="190" />
				</div>
			</div>
			
			<div class="foto-item">
				<div class="legenda-foto">
					Rafael
				</div>
				<div class="foto-atleta">
					<img src="/images/atletas/rafael.jpg" width="150" height="190" />
				</div>
			</div>
		</div>
	</div>
  </div>
</div>

<%- include footer.ejs %>