
<%- include header.ejs %>

<div class="main-content">
  <div class="content-width statistics">
  	<div class="estatisticas">
		<h1>ESTATÍSTICAS</h1>
		
		<div class="ultimos-jogos">
  			<h2 class="time-laranja"># Últimos Jogos</h2>
  		</div>
  		
  		<br clear="all" />
		
		<h2 class="time-laranja"># Artilheiros (Time A)</h2>
	
		<div class="row">
			<span class="col-left-min">#1</span>
			<span class="col-left nome-jogador">Neném</span><span class="col-right qtd-gols">26 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#2</span>
			<span class="col-left nome-jogador">Italo</span><span class="col-right qtd-gols">22 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#3</span>
			<span class="col-left nome-jogador">Ney</span><span class="col-right qtd-gols">13 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#4</span>
			<span class="col-left nome-jogador">Samuray</span><span class="col-right qtd-gols">14 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#5</span>
			<span class="col-left nome-jogador">Alemão</span><span class="col-right qtd-gols">10 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#6</span>
			<span class="col-left nome-jogador">Alanzinho</span><span class="col-right qtd-gols">10 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#7</span>
			<span class="col-left nome-jogador">Tuí</span><span class="col-right qtd-gols">10 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#8</span>
			<span class="col-left nome-jogador">Cláudio</span><span class="col-right qtd-gols">5 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#9</span>
			<span class="col-left nome-jogador">Índio</span><span class="col-right qtd-gols">4 gols</span>
		</div>
		
		<div class="row last">
			<span class="col-left-min">#10</span>
			<span class="col-left nome-jogador">Alcimar</span><span class="col-right qtd-gols">0 gol</span>
		</div>
		
		<br clear="all" />
		
		<h2 class="time-azul"># Artilheiros (Time B)</h2>
	
		<div class="row">
			<span class="col-left-min">#1</span>
			<span class="col-left nome-jogador">Paulo</span><span class="col-right qtd-gols">26 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#2</span>
			<span class="col-left nome-jogador">Bruninho</span><span class="col-right qtd-gols">12 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#3</span>
			<span class="col-left nome-jogador">Felipe</span><span class="col-right qtd-gols">10 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#4</span>
			<span class="col-left nome-jogador">Caique</span><span class="col-right qtd-gols">9 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#5</span>
			<span class="col-left nome-jogador">Digo</span><span class="col-right qtd-gols">7 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#6</span>
			<span class="col-left nome-jogador">Josuel</span><span class="col-right qtd-gols">5 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#7</span>
			<span class="col-left nome-jogador">Danilo</span><span class="col-right qtd-gols">4 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#8</span>
			<span class="col-left nome-jogador">Marcelo</span><span class="col-right qtd-gols">4 gols</span>
		</div>
		
		<div class="row">
			<span class="col-left-min">#9</span>
			<span class="col-left nome-jogador">Montenegro</span><span class="col-right qtd-gols">2 gols</span>
		</div>
		
		<div class="row last">
			<span class="col-left-min">#10</span>
			<span class="col-left nome-jogador">Leandro</span><span class="col-right qtd-gols">1 gol</span>
		</div>
		
		<div class="row last">
			<span class="col-left-min">#11</span>
			<span class="col-left nome-jogador">Luciano</span><span class="col-right qtd-gols">0 gol</span>
		</div>
	</div>
  </div>
</div>

<%- include footer.ejs %>
