
<%- include header.ejs %>

<div class="main-content">
  <div class="content-width statistics">
  	<div class="estatisticas">
		<h1>ESTATÍSTICAS</h1>
		
		<div class="ultimos-jogos">
  			<h2 class="time-laranja"># Últimos Jogos</h2>
  		</div>
  		
  		<br clear="all" />
		
		<h2 class="time-laranja artilheiros-quadro-1"># Artilheiros (Time A)</h2>
	
		
		<br clear="all" />
		
		<h2 class="time-azul artilheiros-quadro-2"># Artilheiros (Time B)</h2>
	</div>
  </div>
</div>

<%- include footer.ejs %>
