<!DOCTYPE html>
<html>
	<head>
		<title>C.S.E Futsal</title>
		<link href="/css/cse.css" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	</head>
<body>
	<%- include header.ejs %>
	
	<div class="menu">
			<ul>
				<li>
					<a href="/historia">História</a></li>
				<li class="active">
					<a href="/time">Time</a>
				</li>
				<li>
					<a href="/elenco">Elenco</a>
				</li>
				<li>
					<a href="/agenda">Agenda</a>
				</li>
				<li>
					<a href="/estatisticas">Estatísticas</a>
				</li>
				<li class="last">
					<a href="/resultados">Resultados</a>
				</li>
			</ul>
	</div>
	
	<div class="body team">
	  <div class="content-width">
	  	<div class="row">
		  <div class="col-xs-2 col-left"><strong>Nome: </strong></div>
		  <div class="col-xs-10 col-right">C.S.E</div>
		</div>
		
		<div class="row">
		  <div class="col-xs-2 col-left"><strong>Significado: </strong></div>
		  <div class="col-xs-10 col-right">Cansado de ser enganado</div>
		</div>
		
		<div class="row">
		  <div class="col-xs-2 col-left"><strong>Fundação: </strong></div>
		  <div class="col-xs-10 col-right">02/01/2015</div>
		</div>
		
		<div class="row">
		  <div class="col-xs-2 col-left"><strong>Fundador: </strong></div>
		  <div class="col-xs-10 col-right">Marco Aurélio</div>
		</div>
		
		<div class="row">
		  <div class="col-xs-2 col-left"><strong>Presidente: </strong></div>
		  <div class="col-xs-10 col-right">Italo Santos Cruz</div>
		</div>
		
		<div class="row">
		  <div class="col-xs-2 col-left"><strong>Vice Presidente: </strong></div>
		  <div class="col-xs-10 col-right">Leandro Andrade</div>
		</div>
		
		<div class="row">
		  <div class="col-xs-2 col-left"><strong>Tesoureiro: </strong></div>
		  <div class="col-xs-10 col-right">Cláudio Fernandes</div>
		</div>
		
		<div class="row">
		  <div class="col-xs-2 col-left"><strong>Sede: </strong></div>
		  <div class="col-xs-10 col-right">Casa o Tuí</div>
		</div>
		
		<div class="row">
		  <div class="col-xs-2 col-left"><strong>Quadra: </strong></div>
		  <div class="col-xs-10 col-right">Flamenguinho (E.C Flamengo / Franco da Rocha - SP)</div>
		</div>
		
		<br clear="all" />
		<hr />
		
		<div class="row">
		  <div class="row">
		    <div class="col-xs-2 col-left"><h4 class="time-azul">Time Azul:</h4></div>
		  </div>
		
		  <div class="col-xs-1 col-left"></div>
		  <div class="col-xs-11 col-right">
		  	<div class="row">
			  <div class="col-xs-2 col-left"><strong>Técnico: </strong></div>
			  <div class="col-xs-2 col-right">Italo Santos</div>
			</div>
			
			<div class="row">
			  <div class="col-xs-2 col-left"><strong>Aux. Técnico: </strong></div>
			  <div class="col-xs-2 col-right">Neném e Samuray</div>
			</div>
			
			<div class="row">
			  <div class="col-xs-2 col-left"><strong>Uniforme: </strong></div>
			  <div class="col-xs-10 col-right">
			  	<img src="/images/cse-uniforme-azul.jpg" />
			  </div>
			</div>
		  </div>
		</div>
		
		<br clear="all" />
		<hr />
		
		<div class="row">
		  <div class="row">
		    <div class="col-xs-2 col-left"><h4 class="time-laranja">Time Laranja: </h4></div>
		  </div>
		
		  <div class="col-xs-1 col-left"></div>
		  <div class="col-xs-11 col-right">
		  	<div class="row">
			  <div class="col-xs-2 col-left"><strong>Técnico: </strong></div>
			  <div class="col-xs-2 col-right">Leandro Andrade</div>
			</div>
			
			<div class="row">
			  <div class="col-xs-2 col-left"><strong>Aux. Técnico: </strong></div>
			  <div class="col-xs-2 col-right">Paulo e Marcelo</div>
			</div>
			
			<div class="row">
			  <div class="col-xs-2 col-left"><strong>Uniforme: </strong></div>
			  <div class="col-xs-10 col-right">
			  	<img src="/images/cse-uniforme-laranja.jpg" />
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
	
	<br clear="all" />
	<br clear="all" />
	
	<%- include footer.ejs %>
</body>
</html>