
<%- include header.ejs %>

<div class="main-content team">
  <div class="content-width">
  	<h1>O TIME</h1>
  	
	<div class="content">
		<div class="row">
		  <span class="col-left"><strong>Nome: </strong></span>
		  <span class="col-right">C.S.E</span>
		</div>
	
		<div class="row">
		  <span class="col-left"><strong>Significado: </strong></span>
		  <span class="col-right">Cansado de ser enganado</span>
		</div>
	
		<div class="row">
		  <span class="col-left"><strong>Fundação: </strong></span>
		  <span class="col-right">02/01/2015</span>
		</div>
	
		<div class="row">
		  <span class="col-left"><strong>Fundador: </strong></span>
		  <span class="col-right">Marco Aurélio</span>
		</div>
	
		<div class="row">
		  <span class=" col-left"><strong>Presidente: </strong></span>
		  <span class="col-right">Italo Santos Cruz</span>
		</div>
	
		<div class="row">
		  <span class=" col-left"><strong>Vice Presidente: </strong></span>
		  <span class="col-right">Leandro Andrade</span>
		</div>
		
		<div class="row">
		  <span class="col-left"><strong>Tesoureiro: </strong></span>
		  <span class="col-xs-5 col-right">Cláudio Fernandes</span>
		</div>
	
		<div class="row">
		  <span class="col-left"><strong>Sede: </strong></span>
		  <span class="col-right">Casa o Tuí</span>
		</div>
	
		<div class="row">
		  <span class="col-left"><strong>Quadra: </strong></span>
		  <span class="col-right">Flamenguinho (E.C Flamengo / Franco da Rocha - SP)</span>
		</div>
	
		<br clear="all" />
		<hr />
	
		<div class="row">
		  <div class="row">
		    <span><h4 class="time-azul">Time Azul:</h4></span>
		  </div>
	
		  <div class="col-right">
		  	<div class="row">
			  <span class="col-left"><strong>Técnico: </strong></span>
			  <span class="col-right">Italo Santos</span>
			</div>
	
			<div class="row">
			  <span class="col-left"><strong>Aux. Técnico: </strong></span>
			  <span class="col-right">Neném e Samuray</span>
			</div>
	
			<div class="row">
			  <span class="col-left"><strong>Uniforme: </strong></span>
			  <div class="col-right">
			  	<img src="/images/cse-uniforme-azul.jpg" class="uniforme-img" />
			  </div>
			</div>
		  </div>
		</div>
	
		<br clear="all" />
		<hr />
	
		<div class="row">
		  <div class="row">
		    <span><h4 class="time-laranja">Time Laranja: </h4></span>
		  </div>
	
		  <div class="col-right">
		  	<div class="row">
			  <span class="col-left"><strong>Técnico: </strong></span>
			  <span class="col-right">Leandro Andrade</span>
			</div>
	
			<div class="row">
			  <span class="col-left"><strong>Aux. Técnico: </strong></span>
			  <span class="col-right">Paulo e Marcelo</span>
			</div>
	
			<div class="row">
			  <span class="col-left"><strong>Uniforme: </strong></span>
			  <div class="col-right">
			  	<img src="/images/cse-uniforme-laranja.jpg" class="uniforme-img" />
			  </div>
			</div>
		  </div>
		</div>
		
		<br clear="all" />
		<hr />
	
		<div class="row">
		    <div class="row">
		      <span><h4 class="time-laranja">Torcida: </h4></span>
		    </div>
			<div class="row">
			  <span class="col-left"><strong>Uniforme: </strong></span>
			  <div class="col-right">
			  	<img src="/images/cse-uniforme-torcida.jpg" class="uniforme-img" />
			  </div>
			</div>
		</div>
	</div>
  	
  </div>
</div>

<%- include footer.ejs %>